<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
<groups>
<run>
<include name="Retesting"></include>
<include name="HomePage"></include>
<include name="contactpage"></include>
</run>
</groups>
		<classes>
			<class name="com.TestLayer.LoginPageTest" />
			<class name="com.TestLayer.HomePageTest" />
			<class name="com.TestLayer.ContactPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->